@charset "utf-8";
/* CSS Document */

html,
body {
    height: 100%;
}

    .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
	width: 250px;
	height: 250px;	
	padding: 50px 0;
	
}